@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/photo-header.css";
@import "components/nav-bar.css";
@import "components/about.css";
@import "components/work.css";
@import "components/section-title.css";
@import "components/experience.css";
@import "components/contact.css";

body {
  /*
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;*/
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
  height: 500vh;
}
