.about__list {
  font-size: 20px;
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.about__info {
  padding: 50px;
  opacity: 0.8;
  margin-right: 20px;

  color: var(--text-dark);
}

.about__info h1 {
  font-size: 30px;
  font-weight: 900;
}
.about__info h2 {
  padding-left: 40px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}
.about__info h3 {
  padding-left: 80px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 200;
}
