.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 20px 50px;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0px var(--horizontal-space);
}

.nav__link {
  position: relative;
  color: var(--text-dark);
  font-weight: 900;
}
